@using Ananas.Data.Models;
@model List<CategoryModel>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin/index">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/admin/productlist">@ViewData["Title"]</a></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">@ViewData["Title"] hiện đang được bày bán.</div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div style="display: inline-block; float: left; height: 100%;">
                <div style="display: table-cell; vertical-align: middle;">
                    <i class="fas fa-table mr-1"></i>@ViewData["Title"]
                </div>
            </div>
            <div style="display: inline-block; float: right;">
                <Button class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalBottom">Thêm mới</Button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Mã danh mục</th>
                            <th style="text-align: center;">Tên danh mục</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead> 
                    <tbody>
                        @foreach(var category in Model){
                            <tr>
                                <td style="text-align: center;">@category.ID</td>
                                <td style="text-align: center; font-weight: bold;">@category.Name</td>
                                <td style="text-align: center;"><Button class="btn btn-info">Chi tiết</Button></td>
                                <td style="text-align: center;"><Button class="btn btn-danger">Xóa</Button></td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                        <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active">
                        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                    </li>
                    <li class="paginate_button page-item next" id="dataTable_next">
                        <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade bottom show" id="fullHeightModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="max-width: 1000px; min-width: 800px;" role="document"  aria-hidden="true">
            <!--Content-->
            <div class="modal-content">
            <!--Header-->
             <form>
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                   
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Tạo mới sản phẩm</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputFirstName">Tên Sản Phẩm</label>
                                    <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter first name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Mã Sản Phẩm</label>
                                    <input class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Giá Đề Xuất</label>
                                    <input class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputFirstName">Giới Tính</label>
                                    <select class="form-control" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Thương Hiệu</label>
                                    <select class="form-control" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Danh Mục</label>
                                    <select class="form-control" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Tình Trạng</label>
                                    <select class="form-control" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputFirstName">Màu Sắc</label>
                                    <select class="form-control" multiple size="3" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Size</label>
                                    <select class="form-control" multiple size="3" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Bộ Sưu Tập</label>
                                     <select class="form-control" multiple size="3" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Form</label>
                                     <select class="form-control" multiple size="3" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Chất Liệu</label>
                                     <select class="form-control" multiple size="3" id="sel1">
                                        <option>Unisex</option>
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputFirstName">Mô Tả Sản Phẩm</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLastName">Chi Tiết Sản Phẩm</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Ảnh Sản Phẩm</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputConfirmPassword">Ảnh Chi Tiết (Chọn 1 hoặc nhiều ảnh)</label>
                                    <div class="custom-file">
                                        <input type="file" multiple class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light">Tạo mới</button>
                </div>

                </form>
            </div>
            <!--/.Content-->
        </div>
    </div>

</div>