@using Ananas.Data.Models;
@model List<ProductModel>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<style>
    .product-image {
        width: auto;
        height: 64px;
        object-fit: cover;
    }

    .model-dialog-lg {
        max-width: 900px;
        margin: 1.75rem auto;
        position: relative;
        width: auto;
        pointer-events: none;
    }
    .image-holder {
        width: 100%;
        display: block;
    }
    .image-figure{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .color-square {
        width: 25px;
        height: 25px;
    }
</style>
<div class="container-fluid">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin/index">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/admin/productlist">@ViewData["Title"]</a></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">Danh sách cả sản phẩm hiện đang được bày bán.</div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <div style="display: inline-block; float: left; height: 100%;">
                <div style="display: table-cell; vertical-align: middle;">
                    <i class="fas fa-table mr-1"></i>@ViewData["Title"]
                </div>
            </div>
            <div style="display: inline-block; float: right;">
                <a href="/admin/createproduct" class="btn btn-primary" >Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Sản phẩm</th>
                            <th style="text-align: center;">Tên</th>
                            <th style="text-align: center;">Mã</th>
                            <th style="text-align: center;">Giá thành</th>
                            <th style="text-align: center;">Tình trạng</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td style="text-align: center;"><img class="product-image" src="@Url.Content($"~/images/Uploads/{product.Image}")" /></td>
                                <td style="text-align: center; font-weight: bold;">@product.Name</td>
                                <td style="text-align: center;">@product.Code</td>
                                <td style="text-align: center;">@product.Price VND</td>
                                <td style="text-align: center;">@product.Status</td>
                                <td style="text-align: center;"><Button class="btn btn-info">Chi tiết</Button></td>
                                <td style="text-align: center;"><Button class="btn btn-danger">Xóa</Button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                        <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active">
                        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                    </li>
                    <li class="paginate_button page-item next" id="dataTable_next">
                        <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>